:root {
  font-family: 'Padauk', sans-serif;
  font-size: 16px;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  width: 4rem;
  height: 100vh;
  position: fixed;
  background: var(--bg-primary);
  transition: width 200ms ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #b6b6b6;
  text-decoration: none;
  transition: 600ms;
}

.nav-link:hover {
  background: rgba(0, 0, 0, 0.137);
  color: #b808a0;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.navbar:hover {
  width: 14rem;
}

.navbar:hover .link-text {
  display: block;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ececec;
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.navbar:hover .logo i {
  transform: rotate(-90deg);
}

/*small screens*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar:hover {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav li {
    flex-direction: row;
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 0 35px;
    text-align: left;
  }
  
  .navbar:hover li{
    padding: 0 3px;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
    padding-bottom: 5rem;
  }
}

/*large screens*/
@media only screen and (min-width: 600px) {
  .navbar{
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity 600ms;
  }

}

  

